<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "BlogsPortfolio"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul
      :if={@current_admin}
      class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end"
    >
      <li class="list-none text-[0.8125rem] leading-6 text-zinc-900 flex items-center gap-2">
        <.icon name="hero-user" class="w-4 h-4" />
        <span class="text-zinc-900">{@current_admin.email}</span>
      </li>
      <li class="list-none">
        <.link
          href={~p"/admins/blogs"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Blogs
        </.link>
      </li>
      <li class="list-none">
        <.link
          href={~p"/admins/log_out"}
          method="delete"
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          <.icon name="hero-arrow-left-start-on-rectangle" class="w-4 h-4" /> Log out 
        </.link>
      </li>
    </ul>
    {@inner_content}
  </body>
</html>
